@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #6DC9C7;
  --color-primary-hover: #5abcb9;
  --color-background-dark: #212529;
  --color-panel-dark: #2c3036;
  --color-panel-border: #3b4047;
  --color-charcoal: #090c11;
  --color-slate-gray: #adb5bd;

  --font-sans: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif;

  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
}

/* Custom Styles */
body {
  background-color: var(--color-background-dark);
  color: #f3f4f6;
  /* gray-100 */
  font-family: var(--font-sans);
}

::selection {
  background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-panel-border);
  border-radius: 9999px;
}

.glass-panel {
  background-color: color-mix(in srgb, var(--color-panel-dark) 50%, transparent);
  border: 1px solid var(--color-panel-border);
  backdrop-filter: blur(4px);
}